
<md-card flex-gt-sm="90" flex-gt-md="90">
    <md-card-content>
        <md-content flex layout="column" style="height:80vh;" layout-fill>
    <md-tabs md-dynamic-height="true" md-border-bottom md-stretch-tabs="always" style="height:80vh;" >
      <md-tab label="Available Product">
        <md-content class="md-padding" role="tabpanel">
<!--
            <md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Nutrition</span>
  </div>
</md-toolbar>
-->

<!-- exact table from live demo -->
        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                  <th md-column md-order-by="Name"><span>Product Name</span></th>
                  <th md-column md-order-by="Description" md-desc><span>Quantity</span></th>
                  <th md-column md-numeric md-order-by="Quantity" md-desc><span>Description</span></th>
                  <th md-column md-numeric><span></span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert"  ng-repeat="product in ProductLists | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell>{{product.Name}}</td>
                <td md-cell>{{product.Description}}</td>
                <td md-cell>{{product.Quantity | number: 2}}</td>
                  <td md-cell>
                      <md-button class="md-warn" ng-click="DeleteProduct(product)">Delete</md-button>
                  </td>
              </tr>
            </tbody>
          </table>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{ProductLists.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>

        </md-content>
      </md-tab>
      <md-tab label="Product List (Pending Approval)">
        <md-content class="md-padding" role="tabpanel">
          
            
            <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                  <th md-column md-order-by="Name"><span>Product Name</span></th>
                  <th md-column md-order-by="Description" md-desc><span>Quantity</span></th>
                  <th md-column md-numeric md-order-by="Quantity" md-desc><span>Description</span></th>
                  <th md-column md-numeric><span></span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert"  ng-repeat="product in PendingProductLists | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell>{{product.Name}}</td>
                <td md-cell>{{product.Description}}</td>
                <td md-cell>{{product.Quantity | number: 2}}</td>
                  <td md-cell>
                      <md-button md-no-ink class="md-primary" ng-click="ApproveProduct(product)">Approve</md-button>
                  </td>
              </tr>
            </tbody>
          </table>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{PendingProductLists.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
            
            
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
    </md-card-content>
</md-card>